@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-padrao: font-family: "Inter", sans-serif;
}

* {
    font-family: var(--font-padrao);
}

.mt-20 {
    margin-top: 20px !important;
}
.mt-50 {
    margin-top: 50px !important;
}



