<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilos_externo/reset.css">    
    <link rel="stylesheet" href="../estilos_externo/login-style.css"> 
    <link rel="stylesheet" href="../estilos_externo/main-style.css">   
    <title>Login Tasklist</title>
</head>

<body>
    <div class="container">
        <div class="painel-login">
            <h2 class="mt-20">TaskList</h2>
            <img class="icon mt-50" src="../images/icons/icon_login.png" alt="icone de login" >
            <input type="text" name="" id="user" placeholder="Nome do usuario" class="mt-50">
            <input type="password" name="" id="pass" placeholder="Senha" class="mt-20">
            <button class="login_button mt-50">Entrar</button>
        </div>
    </div>
</body>

</html>